<div id="1" class="btn-group">
    <button class "btn" ><a href="categories">Categories</a></button>
    <button class "btn" ><a href="/">Levels</a></button>
    <button class "btn" ><a href="settings">Settings</a></button>
</div>