/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.tabs
 * = require bootstrap_and_overrides
 */

table {
	table-layout: fixed;
width: 1450px;
}

table.table1 td {
	white-space: nowrap;
  width: 50px;                   
  overflow: hidden;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

div.l_question_id{
	visibility: hidden;
	clear: both;
}